<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
     <%= form_with url: post, method: :delete, local: true, class: "btn btn-outline-danger" do |f| %>
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">削除しますか？</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">削除 changes</button>
      </div>
     <% end %> 
    </div>
  </div>
</div>
    