// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.ichigo-submit-button {
    font-family: YuGo;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #b2b2b2;
    color: #ffffff;
    background-color: #0fbe9f;
  }

  .delitec-button {
    border-radius: 2px;
    border: solid 1px #0fbe9f;
    background-color: #ffffff;
  }